<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-5 mb-0 text-muted">© 2024 Givi Khaduri</p>

    
    
    <ul class="nav col-md-5 justify-content-end" style="min-width: 20rem;">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{ getTranslation('home') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{ getTranslation('features') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{ getTranslation('pricing') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{ getTranslation('faqs') }}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{ getTranslation('about') }}</a></li>
    </ul>
  </footer>
</div>
