<div class="container pl-4">
  <h1 class="mt-4">Admin Panel</h1>
  <button class="btn btn-primary mb-3" (click)="navigateToUserPage()">User Panel</button>

  <h2>User List</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Blocked</th>
          <th>Registration Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isAdmin ? 'Admin' : 'User' }}</td>
          <td>{{ user.isBlocked ? 'Yes' : 'No' }}</td>
          <td>{{ user.registrationDate | date:'short' }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="toggleBlock(user)">
              {{ user.isBlocked ? 'Unblock' : 'Block' }}
            </button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteUser(user.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="mt-4">Survey List</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Survey Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys">
          <td>{{ survey.id }}</td>
          <td>{{ survey.title }}</td>
          <td>{{ survey.description }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteSurvey(survey.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
