<div class="container pl-4">
  <h1 class="mt-4">{{ getTranslation('adminPanel') }}</h1>
  <button class="btn btn-primary mb-3" (click)="navigateToUserPage()">{{ getTranslation('userPanel') }}</button>

  <h2>{{ getTranslation('userList') }}</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>{{ getTranslation('username') }}</th>
          <th>{{ getTranslation('email') }}</th>
          <th>{{ getTranslation('role') }}</th>
          <th>{{ getTranslation('blocked') }}</th>
          <th>{{ getTranslation('registrationDate') }}</th>
          <th>{{ getTranslation('actions') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isAdmin ? getTranslation('admin') : getTranslation('user') }}</td>
          <td>{{ user.isBlocked ? getTranslation('yes') : getTranslation('no') }}</td>
          <td>{{ user.registrationDate | date:'short' }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="toggleBlock(user)">
              {{ user.isBlocked ? getTranslation('unblock') : getTranslation('block') }}
            </button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteUser(user.id)">
              {{ getTranslation('delete') }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="mt-4">{{ getTranslation('surveyList') }}</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>{{ getTranslation('surveyTitle') }}</th>
          <th>{{ getTranslation('description') }}</th>
          <th>{{ getTranslation('actions') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys">
          <td>{{ survey.id }}</td>
          <td>{{ survey.title }}</td>
          <td>{{ survey.description }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteSurvey(survey.id)">{{ getTranslation('delete') }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
