<div class="container">
    <h2 class="my-4">{{ getTranslation('register') }}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">{{ getTranslation('username') }}</label>
        <input id="username" class="form-control" formControlName="username" placeholder="{{ getTranslation('username') }}" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
          {{ getTranslation('usernameRequired') }}
        </div>
      </div>
      <div class="form-group">
        <label for="email">{{ getTranslation('email') }}</label>
        <input id="email" class="form-control" formControlName="email" placeholder="{{ getTranslation('email') }}" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          {{ getTranslation('validEmailRequired') }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ getTranslation('password') }}</label>
        <input id="password" type="password" class="form-control" formControlName="password" placeholder="{{ getTranslation('password') }}" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          {{ getTranslation('passwordMinLength') }}
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary form-control" [disabled]="!registerForm.valid">{{ getTranslation('register') }}</button>
      </div>
    </form>
  </div>