<div class="container-fluid d-flex flex-column vh-100 p-0">
  <div class="position-fixed top-0 start-0 w-100" style="z-index: 1000; background-color: white;">
    <app-navigation (sidebarToggle)="onSidebarToggle($event)"></app-navigation>
  </div>

  <div class="row flex-grow-1" style="margin-top: 100px; ">
    <div 
      *ngIf="!isSidebarHidden || isSidebarVisible" 
      class="col-3 p-0 vh-100" 
      [ngStyle]="{ 
        'position': windowWidth < 991 ? 'absolute' : 'sticky', 
        'top': '55px', 
        'z-index': windowWidth < 991 ? '1050' : '500', 
        'width': windowWidth < 991 ? '300px' : 'auto' 
      }"
      style="background-color: #ffffff; opacity: 1;">
      <app-slide-bar (sidebarToggle)="onSidebarToggle($event)"></app-slide-bar>
    </div>

    <div class="p-0 d-flex flex-column col-9" style="flex-grow: 1; position: relative;">
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>
