<div class="container mt-4 pl-4">
  <div class="row d-flex justify-content-between flex-wrap">
    
    <div class="col-md-6 col-sm-12 mb-3">
      <h2 class="mb-3">{{ getTranslation('createdSurveys') }}</h2>
      <div *ngIf="createdSurveys && createdSurveys.length > 0; else noCreatedSurveys">
        <ul class="list-group">
          <li *ngFor="let survey of createdSurveys" class="list-group-item shadow hover">
            <div class="card w-100">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="me-auto">
                    <h5 class="card-title mb-0">{{ survey.title }}</h5>
                    <p class="card-text mb-0">{{ survey.description }}</p>
                  </div>
                  <div>
                    <button class="btn btn-primary me-2" (click)="editSurvey(survey.id)">{{ getTranslation('edit') }}</button>
                    <button class="btn btn-danger" (click)="deleteSurvey(survey.id)">{{ getTranslation('delete') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ng-template #noCreatedSurveys>
      <p class="text-muted">{{ getTranslation('noCreatedSurveys') }} 
        <span>
          <i class="fas fa-circle-notch fa-spin" style="font-size:24px"></i>
        </span>
      </p>
    </ng-template>

    <div class="col-md-6 col-sm-12 mb-3">
      <h2 class="mb-3">{{ getTranslation('completedSurveys') }}</h2>
      <div *ngIf="completedSurveys && completedSurveys.length > 0; else noCompletedSurveys">
        <ul class="list-group">
          <li *ngFor="let survey of completedSurveys" class="list-group-item shadow hover">
            <div class="card w-100">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="me-auto">
                    <h5 class="card-title mb-0">{{ survey.title }}</h5>
                    <p class="card-text mb-0">{{ survey.description }}</p>
                  </div>
                  <div>
                    <button class="btn btn-primary me-2" (click)="viewResults(survey.id)">{{ getTranslation('seeResults') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ng-template #noCompletedSurveys>
      <p class="text-muted">{{ getTranslation('noCompletedSurveys') }} 
        <span>
          <i class="fas fa-circle-notch fa-spin" style="font-size:24px"></i>
        </span>
      </p>
    </ng-template>
  </div>
</div>
